
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


                
.inter-sans-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* shared styles */
:root{
    --font-size: 0.9rem;
    --background-color:black;
}
.inter{
    color: Inter;
}
main{
    background-color:var(--background-color);
    margin-top: -4px;
}
.display-flex{
    display: flex;
}
.text-white{
    color: white;
}
.title{
    font-size: 3rem;
}

.text-align{
    text-align: center;
}
.btn-primary{
    border: 1px solid black;
    background-color: rgb(199, 78, 59);;
    border-radius: 42px;
    font-size: 1rem;
    font-weight:600;
    padding: 10px 25px;
}
.btn-secondary{
    border: 1px solid white;
    background-color: black;
    border-radius: 42px;
    font-size: 1rem;
    font-weight:600;
    padding: 10px 25px;
}


/* navbar styles */
.header{
    background-color: #1d1b1b;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.home-btn{
    /* margin-left:-10px; */
    border: 10px solid rgb(199, 78, 59);
    border-radius: 46px;
    background-color: rgb(199, 78, 59);
    margin-right: 10px;
}
.brand{
    font-size: 2.25rem;
    color:rgb(199, 78, 59) ;
}
.nav-links{
    border:1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;
      
}
 .nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.125rem;
    padding: 10px;
 }
.nav-link{
    text-decoration: none;
    font-weight:500;
    padding-left: 10px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner{
    justify-content: space-between;
}
.banner-title{
    font-size: 4.89rem;
}
#miama{
    font-family: 'Miama', sans-serif;                                          
}
.banner-description{
    font-size: 1rem;
    margin-top: -50px;
}
.banner-content img{
    width: 100%;
}
.img-banner{
    margin-top: 200px;
}
/* .badge{
    height: 50px;
    width: 50px;
    background-color:rgb(199, 78, 59);
    border-radius: 50%;position:relative;
} */
/* #banner-badge-1{
     border: 1px solid rgba(54, 53, 53, 0.54);
    background-color:rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight:600;
    padding: 20px 40px; 
    margin-left: 100px;
    margin-top: 100px;
}
#banner-badge-2{
    border: 1px solid rgba(54, 53, 53, 0.54);
   background-color:rgba(48, 48, 48, 0.54);
   border-radius: 12px;
   font-size: 1.5rem;
   font-weight:600;
   padding: 20px 40px; 
   margin-left: -100px;
   margin-top: -100px;
}
#banner-digit{
    font-size: 1.5rem;
}
#banner-digit-tutorial{
    font-size: 1rem;
}
.banner-badge-main img{
    width: 100%;
} */



/* habits styles */
.habits{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;
}


.habits-description{
    --font-size:var(--font-size);
    text-align: center;
    margin-top: -25px;
}
.habit-container{
    display: grid;
    
    grid-template-columns: repeat(4, 1fr); 
}
.habit-content{
    margin:0 auto;
}
.habit-content img{
    border-radius: 100px;
}
.habit-content-img-title{
    font-size: 18px;
    text-align: center;
} 
.habit-content-img-description{
    --font-size:var(--font-size);
    text-align: center;
    margin-top: -10px;
}

/* run styles started*/
.run-container{
    margin: 20px 90px ;
    border-radius: 18px;
    background-color:rgba(255, 255, 255, 0.189) ;
}
.run-content{
    padding-left:54px;
}
.run-description{
    color: var(--font-size);
}
.run-img img{
   border-radius: 18px;
   width: 60%;
   margin: 30px 32px 29px 165px ;
}

/* bmi style started */

.bmi-top{
    text-transform:capitalize;
    text-align: center;
    margin-left: 384.5px;
    margin-right: 384.5px;
    margin-bottom: 88px;
    /* padding-bottom: 20px; */
}
.bmi-top-description{
    font-size: var(--font-size);
    margin-top: -30px;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .banner,
    .habit,
    .run-container{
        flex-direction: column;
    }
    .nav-links{
        display: none;
    }
    .habit-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    .habit-content{
        justify-content: center;
    }

    .run-container{
        margin: 50px 10px ;
    }
    .run-img img{
        width: 80%;
        margin-left: 40px;
     }
     
}